<html>
	<head>
    <script type="text/javascript" src="/static/ajax_helper_functions.js"></script>

		<title>{{page_title}}</title>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
	</head>
	<body>
        <!-- MAIN CONTENT -->
        <h1> Add Positions to Portfolio:{{user}}</h1>
        <nav class="navbar px-5 py-3 w-bg-color-1">
            {% if user %}
                <a href="/signout" class="nav-link p-3">Sign Out</a> 
            {% endif %}
        </nav>
<div id="logo_holder" >
</div>

        <p>{{stock}}</p>
        <center>
            <form class="form-container" method="post" action="/register">
                <h1 align="center">Add a new position</h1>
                <div class="group">
                    <!-- Ticker -->
                    <input type="hidden" name="ticker"  value="{{stock}} "/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="group">
                  <!--  shares -->
                    <input type="number" value=1  min=1 data-toggle="tooltip" data-placement="right" title="Please enter a number" id="email" name="email" placeholder="Shares">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="group">
                  <!-- type of transaction -->
                    <select class="mdb-select md-form colorful-select dropdown-primary" searchable="Type of transaction">
                      <option value="buy">Buy</option>
                      <option value="short">Short</option>
                      <option value="sell">Sell</option>
                    </select>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary w-bg-color-1">
                </div>
            </form>
        <datalist id="tickers">
        </datalist>
        </center>
          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_914d0" style="height: 500px"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/{{stock}}/" rel="noopener" target="_blank"><span class="blue-text">{{stock}}  Chart</span></a> </div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "{{stock}}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "3",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_914d0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<h2> Information about <span id="company_name"></span> </h2>
<center>
<div id="stock_info" >
</div>
</center>
        {% block content %}{% endblock %}
    </body>
    <!-- scrolling for html markers --> 
    <script type="text/javascript">
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
            e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>

    <script type="text/javascript" >
        // get the data on the ticker symbol passed in

    let xmlHttp = createXmlHttp();
    xmlHttp.onreadystatechange = function () {
        console.log("Trying to get data");
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            // note that you can check xmlHttp.status here for the HTTP response code
            console.log("Got something!");
            console.log(".. done getting data");
            // check if it is not defined
            stock_data = JSON.parse(xmlHttp.responseText);
            console.log(stock_data)
            console.log("heres the object;");

            title_for_company = document.getElementById("company_name");
            title_for_company.innerText=stock_data.shortName

            company_information_section = document.getElementById("stock_info");
            var company_image = document.createElement('img')
            company_image.src = stock_data.logo_url
            company_logo_section = document.getElementById("logo_holder");
            company_logo_section.appendChild(company_image)

            var data_table = document.createElement('table')
            for (var key in stock_data) {
                // Loop over the JSON array.
                var row = document.createElement('tr')
                _name = document.createElement('th')
                // Set the value using the item in the JSON array.
                _value = document.createElement('th')
                formatted_val = key.toString().charAt(0).toUpperCase()+key.toString().slice(1);
                _name.innerText = formatted_val
                _value.innerText = stock_data[key]
                row.appendChild(_name)
                row.appendChild(_value)
                data_table.appendChild(row)
            }
            company_information_section.appendChild(data_table)
        }
    };
    xmlHttp.open("GET", 'get_stock_data/{{stock}} ' , true);
    xmlHttp.send();
    </script>
