<html>
	<head>
    <script type="text/javascript" >
        // get the data on the ticker symbol passed in

    let xmlHttp = createXmlHttp();
    xmlHttp.onreadystatechange = function () {
        console.log("Trying to get data");
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            // note that you can check xmlHttp.status here for the HTTP response code
            console.log("Got something!");
            console.log(".. done getting data");
            // check if it is not defined
            stock_data = JSON.parse(xmlHttp.responseText);
            console.log(stock_data)
            console.log("heres the object;");

            title_for_company = document.getElementById("company_name");
            title_for_company.value=stock_data.shortName
            for (var key in stock_data) {
                // Loop over the JSON array.
                tickers.forEach(function(item)
                {
                        // Create a new <option> element.
                        var option = document.createElement('p');
                        // Set the value using the item in the JSON array.
                        option.value = key;
                }
            }
          );
        }
    };
    xmlHttp.open("GET", 'get_stock_data/{{stock}} ' , true);
    xmlHttp.send();
    </script>

		<title>{{page_title}}</title>
        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
	</head>
	<body>
        <!-- MAIN CONTENT -->
        <h1> Add Positions to Portfolio:{{user}}</h1>
        <nav class="navbar px-5 py-3 w-bg-color-1">
            {% if user %}
                <a href="/signout" class="nav-link p-3">Sign Out</a> 
            {% endif %}
        </nav>
        <p>{{stock}} </p>

          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_914d0" style="height: 500px"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-{{stock}}/" rel="noopener" target="_blank"><span class="blue-text">{{stock}}  Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "NASDAQ:{{stock}}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "3",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_914d0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<h2> Information about <span id="company_name"> </span> </h2>
        {% block content %}{% endblock %}
    </body>
    <!-- scrolling for html markers --> 
    <script type="text/javascript">
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
            e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
