{% extends '_base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
	<title> Stockchain Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add login js from static dir-->
	<link rel="stylesheet" type="text/css" href="static/bootstrap.min.js/">
    <!-- Add bootstrap css from foreign website-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Add login CSS from static dir -->
	<link href="static/account.css" type="text/css" rel="stylesheet">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Add login js from static dir -->
	<script src="static/login.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
</head>

<body>
	<div class="container-fluid bg">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12"></div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<form class="form-container" method="post" action="/user_login">
					<h1 align="center">Stockchain</h1>
					<div class="group">
						<input type="email" data-toggle="tooltip" data-placement="right" title="Please provide your email" id="email" name="email" placeholder="Email">
						<span class="highlight"></span>
						<span class="bar"></span>
				    </div>
					<div class="group">
						<input type="password" data-toggle="tooltip" data-placement="right" title="Please provide your password" id="password" name="password" placeholder="Password">
	                    <span class="highlight"></span>
	                    <span class="bar"></span>
				  	</div>
                    <div class="form-group">
                    <input type="submit" class="btn btn-primary w-bg-color-1">
                    </div>
                    <center>
                    	<div class="g-signin2" data-onsuccess="onSignIn"></div>
                	</center>
                    <script>
	                	function onSignIn(googleUser) {
							var profile = googleUser.getBasicProfile();
							console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
							console.log('Name: ' + profile.getName());
							console.log('Image URL: ' + profile.getImageUrl());
							console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
						}
					</script>
				  	<br>	
					<p style="text-align:center">
						<br>Need an account? <a href="CreateAccount">Sign up</a>
					</p>
					<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
					<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;" ></div>
				</form>
			</div>
			<div class ="col-md-4 col-sm-4 col-xs-12"></div>
		</div>
	</div>
</body>

</html>
{% endblock %}
