<!DOCTYPE html>
<html lang="en">

<head>
	<title> Portfolio | Stockchain </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="css/portfolio.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="/static/ajax_helper_functions.js"></script>
<style> 
    table {
      table-layout: fixed ;
      width: 100% ;
    }
     th, td, tr{
      padding: 15px;
      text-align: center;
	  table-layout: fixed;
    }
    tr:nth-child(odd) {
      background-color: #CCCCCC;
    }

    tr:nth-child(even) {
      background-color: #ffffff;
    }
</style>
</head>

<body>
{% extends '_base.html' %}


{% block content %}
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-4 text-left mt-4"> 
      <h1 class="ml-3">Portfolio Summary</h1>
      <hr class="mb-4">
      <form class="ml-3">
        <div class="form-group row portfolio-row">
          <label for="txtValueSummary" class="col-sm-5 col-form-label font-weight-bold">Current Value:</label>
    	  <div class="col-sm-7">
      	    <input type="text" readonly class="form-control-plaintext" id="txtValueSummary" value="0.00">
    	  </div>
  		</div>
  		<div class="form-group row portfolio-row">
    	  <label for="txtFundsSummary" class="col-sm-5 col-form-label font-weight-bold">Current Funds:</label>
    	  <div class="col-sm-7">
      		<input type="text" readonly class="form-control-plaintext" id="txtFundsSummary" value="0.00">
    	  </div>
  		</div>
	  </form>
      <div class="mt-4">
          <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_914d0" style="height: 500px"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "autosize": true,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "light",
  "style": "3",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_914d0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!--<img src="images/graph.jpg" alt="Image">-->
  	  </div> </div> <div class="col-sm-8 mt-4 border-left">
      <h1 class="mb-3 mr-3">Current Positions</h1>
      <div class="container" id="positions-container">
        <div id="transactions" >
        </div>
	</div>
    </div>
  </div>
</div>
    <script type="text/javascript" >
    // get the data on the ticker symbol passed in
    function set_data_member(_document_object, _value, _row) {
        _document_object.innerText=_value
        _row.appendChild(_document_object)
    }
    function set_up_table(transactions) {
            console.log(transactions)
            transaction_section = document.getElementById("transactions");
            var data_table = document.createElement('table')
            // make first row
            for (var transaction_index in transactions) {
                transaction= transactions[transaction_index]
                //    // Loop over the JSON array.
                var row = document.createElement('tr')
                console.log(transaction)
                for (key in transaction) {
                    console.log(key)
                    var entry = document.createElement('th')
                    set_data_member(entry, key.toUpperCase() , row)
                }
                data_table.appendChild(row)
                break;
            }
            // make all other rows
            let totalPortfolioValue = 0;

            for (var transaction_index in transactions) {
                transaction= transactions[transaction_index] 
                //    // Loop over the JSON array.
                var row = document.createElement('tr')
                console.log(transaction)
                for (key in transaction) {
                    console.log(key)
                    if(key == "value" ) {
                        totalPortfolioValue += parseFloat( transaction[key].replace("$", "") )
                    }
                    var entry = document.createElement('th')
                    set_data_member(entry, transaction[key], row)
                }
                data_table.appendChild(row)
            }
            transaction_section.appendChild(data_table)
            document.getElementById("txtValueSummary").value = totalPortfolioValue
    }

    let xmlReq = createXmlHttp();
    xmlReq.onreadystatechange = function () {
        console.log("Trying to get data");
        if (xmlReq.readyState == 4 && xmlReq.status == 200) {
            // note that you can check xmlReq.status here for the HTTP response code
            console.log("Got something!");
            console.log(".. done getting data");
            // check if it is not defined
            transactions = JSON.parse(xmlReq.responseText);
            console.log(transactions)
            console.log("heres the object;");
            // we will change this stuff after we get the object
            set_up_table(transactions)

        }
    };
    xmlReq.open("GET", 'get_portfolio_positions' , true);
    xmlReq.send();

    // get the funds that the user has
    let xmlReq2 = createXmlHttp();
    xmlReq2.onreadystatechange = function () {
        console.log("Trying to get data");
        if (xmlReq2.readyState == 4 && xmlReq2.status == 200) {
            // note that you can check xmlReq2.status here for the HTTP response code
            console.log("Got something!");
            console.log(".. done getting data");
            // check if it is not defined
            funds = JSON.parse(xmlReq2.responseText);
            console.log(funds)
            console.log("heres the object;");
            // we will change this stuff after we get the object
            document.getElementById("txtFundsSummary").value = funds

        }
    };
    xmlReq2.open("GET", 'get_funds' , true);
    xmlReq2.send();
    // get another request
    let xmlReq3 = createXmlHttp();
    xmlReq3.onreadystatechange = function () {
        console.log("Trying to get data");
        if (xmlReq3.readyState == 4 && xmlReq3.status == 200) {
            // note that you can check xmlReq3.status here for the HTTP response code
            console.log("Got something!");
            console.log(".. done getting data");
            // check if it is not defined
            funds = JSON.parse(xmlReq3.responseText);
            console.log(funds)
            console.log("heres the object;");
            // we will change this stuff after we get the object
            document.getElementById("txtValueSummary").value = funds

        }
    };
    //xmlReq3.open("GET", '' , true);
    //xmlReq3.send();
    // the transaction object will have { time, shares, stock_ticker, type , value} p
    </script>

<footer class="footer bg-dark">
  <div class="container-fluid text-center">
    <p>Copyright 2020</p>
  </div>
</footer>
{% endblock %}
</body>
</html>
