<!DOCTYPE html>
<html lang="en">

<head>
    <title> Create Account </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js/">
    <link href="static/CreateAccount.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <div class="container-fluid bg">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" method="post" action="/register">
                <h1 align="center">Stockchain</h1>
                <div class="form-group">
                    <!-- Username -->       
                    <input type="text" data-toggle="tooltip" data-placement="right" title="Username can contain any letters or numbers, without spaces"  id="username" name="username" placeholder=""/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Username</label>
                </div>
                <div class="form-group">
                  <!-- E-mail -->
                    <input type="email" data-toggle="tooltip" data-placement="right" title="Please provide your email" id="email" name="email" placeholder="">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email</label>
                </div>
                <div class="form-group">
                  <!-- Password-->
                    <input type="password" data-toggle="tooltip" data-placement="right" title="Password should be at least 4 characters" id="password" name="password" placeholder="">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>            
                </div>
                <div class="form-group">
                  <!-- Password -->
                    <input type="password" data-toggle="tooltip" data-placement="right" title="Please confirm password" id="password_confirm" name="password_confirm" placeholder="">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password (confirm)</label>  
                </div>
                <div class="form-group ripples buttonRipples">
                    <span class="ripplesCircle"></span>
                    <input type="submit" class="button buttonBlue">
                    <!--button type="button" class="button buttonBlue">Register-->
                </div>
            </form>
        </div>
        <div class ="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    </div>
</body>

</html>